.add-snippet-mode {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  .add-field {
    height: $input-height;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    padding-left: $input-padding;
    background: #2F3132;
  }

  .add-textarea {
    flex-grow: 2;
    background: #2A2B2C;
    border: 0;
    resize: none;
    padding: $input-padding;
  }
}
