.add-snippet-mode {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  .add-field {
    height: $input-height;
    outline: none;
    border: 0;
    border-bottom: $thin-black-border;
    padding-left: $input-padding + 1;
    background: #2F3132;
  }

  .add-textarea {
    font-family: 'Monaco', Arial;
    flex-grow: 2;
    background: #2A2B2C;
    border: 0;
    resize: none;
    padding: $input-padding + 1;
  }
}

textarea:focus {
  outline: none;
}
