.panel-container {
  display: flex; 
  flex-direction: column;
  width: 60%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #38393A;
}

.panel-mode {
  
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .selected-mode {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .new-mode {
    display: flex;
    flex-direction: column;


    input {
      height: 10.5vh;
      outline: none;
      border: 0;
      border-bottom: 1px solid black;
      padding-left: 10px;
      background: #2F3132;
  
    }

  }


}
