.panel-controls {
  display: flex;
  width: 100%;
  background: #2C2D2E;
  justify-content: space-between;
  height: 10vh;
  // border-top: 1px solid #38393A;
  border-top: solid #585858 2px;

  button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 7px;

    & + button {
      border-left: 1px solid #38393A;
    }
  }

  i {
    transition: all 0.1s ease;

    &:hover,
    &:focus {
      color: #6CBEFF;
    }

    &:active {
      color: #FFA63E;
    }
  }

  .copy-btn {
    // background: #444;
    i {
      color: rgb(193, 141, 81);
    }
  }
}

#empty-snippet {
  visibility: hidden;
}

.button-text {
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 11.5px;
}
