.panel-container {
	display: flex;
	flex-direction: column;
	width: 67%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #38393A;
}

.panel-mode {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;


	.selected-mode {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}
