.preview-snippet-mode {
  font-size: 1em;
  font-family: "Monaco", Arial;
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 5% 0;

  .copy-text {
    line-height: 1.5;
  }
}
