.preview-container {
  display: flex; 
  flex-direction: column;
  width: 60%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #38393A;
}

.preview-controls {
  display: flex;
  width: 100%;
  background: #2C2D2E;
  justify-content: space-between;
  height: 10vh;

  button {
    padding: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 7px;
   
  }

  i {
   transition: all 0.1s ease 0s;
  }

  i:hover {
    color: #6CBEFF;
  }

  i:active {
    color: #FFA63E;

  }

}


.preview-mode {
  flex-grow: 1;
  display: flex;
  height: 90vh;
  width: 100%;

  .empty-mode {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .new-mode {
    display: flex;
    flex-direction: column;


    input {
      height: 10.5vh;
      outline: none;
      border: 0;
      border-bottom: 1px solid black;
      padding-left: 10px;
      background: #2F3132;
  
    }

  }


}
