.preview-snippet-mode {
  font-size: 1em;
  font-family: "Monaco", Arial;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;

  .snippet-text {
    margin: 0;
    padding: 3%;
    height: 90vh;
    font-size: 12px;
    // white-space: pre-wrap;
  }

  code {
    font-family: 'Monaco';
  }

}
