.list-container {

  width: 40%;
  border-right: 1px solid black;
  background: #38393A;
  overflow-y: scroll;


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 11vh;
  }

}