
.searchlist-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #38393A;
  border-right: 1px solid black;

}

.list-container {
 
  overflow-y: scroll;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}