.search-item {
  display: flex;
  align-items: center;
  border-bottom: $thin-black-border;
  height: 12vh;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  .search-item-body {
    margin-left: 5%;
  }

  &.is-active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #eee;
  }

  // &.is-active {
  //   background: rgb(43, 43, 43);
  // }

  .search-item-title {
    width: 200px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration: none;
    }
  }

  .search-item-tags {
    margin-top: 2px;
    font-size: 10px;
    color: #7B7E82;
    text-overflow: ellpisis;
    white-space: nowrap;
    overflow: hidden;
  }
}
