.searchlist-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #38393A;
  border-right: $thin-black-border;
}

.list-container {
  overflow-y: auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.no-snippets {
  text-align: center;
}
