$tag-y-spacing: 10px;
$tag-x-spacing: 5px;
$tag-button-width: 12px + $tag-x-spacing * 2;
$tag-border-radius: 15px;
$tag-background: rgb(40, 40, 40);
$tag-color: rgb(199, 199, 199);
$tag-min-height: 31px;

.tags {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: #2F3132;
  min-height: $tag-min-height + 5px;
  line-height: 1;
  font-size: 1em;
  border-bottom: $thin-black-border;

}

.tags-input {
  display: flex;
  width: 33%;
  line-height: 1;
  min-height: $tag-min-height;
  margin-left: $input-padding;
  border: 0;
  outline: none;
  background: none;
  color: #fff;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $tag-x-spacing;
  margin-bottom: $tag-x-spacing;
  margin-left: $tag-x-spacing;

  .tag-value {
    background: $tag-background;
    border-radius: $tag-border-radius 0 0 $tag-border-radius;
    padding: 6px 0px 6px 10px;
  }

  .tag-delete-button {
    text-align: center;
    border: 0;
    background: $tag-background;
    padding: 6px 16px 6px 10px;
    border-radius: 0 $tag-border-radius $tag-border-radius 0;
    outline: none;
    margin-right: 10px;
    border: 0 solid $tag-background;
  }
}
